node_modules/
nativefier-downloader
.idea/
save.txt
nativefier-terraform/terraform.tfstate
nativefier-terraform/terraform.tfstate.backup
nativefier-terraform/*.tfplan
nativefier-terraform/.terraform
nativefier-terraform/.terraform.lock.hcl
